[Unit]
Description=Petclinic Rest Service

[Service]
Type=simple
ExecStart=java -jar /home/ubuntu/spring-petclinic-rest/target/spring-petclinic-rest-{{service_version}}.jar

[Install]
WantedBy=multi-user.target